<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true">
    <variable name="logDirectory" value="${basedir}/tmp/logs"/>
    <targets>
        <target name="memory" xsi:type="Memory" layout="${level}: ${message}"/>
        <target name="debug" xsi:type="Debugger" layout="${level}: ${message}"/>
        <target name="stdout" xsi:type="Console" layout="${level}: ${message}"/>
        <target name="stderr" xsi:type="Console" error="true" layout="${level} - ${callsite}: ${message}"/>
        <target name="stdoutLog" xsi:type="File" fileName="${logDirectory}/stdout.log"/>
        <target name="stderrLog" xsi:type="File" fileName="${logDirectory}/stderr.log"/>
    </targets>
    <rules>
        <logger name="Marathon.*" minlevel="Trace" maxlevel="Debug" writeTo="debug,stdout,memory"/>
        <logger name="Marathon.*" minlevel="Info" maxlevel="Warn" writeTo="stdout,stdoutLog,memory"/>
        <logger name="Marathon.*" minlevel="Error" writeTo="stderr,stderrLog,memory" final="true"/>
    </rules>
</nlog>